<div>
  <section class="login-field">
    <label for="login">Login</label>
    <input id="login" [(ngModel)]="login">
  </section>
  <section class="password-field">
    <label for="password">Password</label>
    <input id="password" [(ngModel)]="password">
  </section>
  <section class="login-button">
    <button (click)="doLogin()">Login</button>
  </section>
  <section class="other-methods"></section>
</div>
