<div class="panel">
  <section>
    <label for="nameInput">Full Name</label>
    <input id="nameInput" [(ngModel)]="name">
  </section>
  <section>
    <button (click)="addHotel()">Submit</button>
  </section>
</div>
