<div class="list">
  <app-hotels-list-filter (filterChanged)="filterChanged($event)"></app-hotels-list-filter>

  <div *ngFor="let item of items" [attr.data-index]="item.name">
    <app-new-hotels-list-item [data]="item" (showDetailsEvent)="showHotelDetail($event)"></app-new-hotels-list-item>
  </div>
</div>
