<div>
  <app-hotels-list-filter (filterChanged)="filterChanged($event)"></app-hotels-list-filter>

  <div *ngFor="let item of items">
    <app-hotels-list-item [data] = "item"></app-hotels-list-item>
  </div>
</div>
