<!--<app-hotels-list></app-hotels-list>-->
<!--<div>-->
<!--  <app-hotel-detail></app-hotel-detail>-->
<!--</div>-->

<!--<app-horizontal-separator></app-horizontal-separator>-->

<app-new-hotel></app-new-hotel>

<app-new-hotel-list (hotelChange)="changeHotelDetail($event)"></app-new-hotel-list>
<div>
  <app-new-hotel-detail [hotel]="hotelDetail"></app-new-hotel-detail>
</div>
